<h2>HTML5 Form Data Dummy Demo</h2>
<h4>This demo app is to investigate HTML5 support for IE10 Desktop that not working. (IE10 Metro is working fine)</h4>

<input type="file" id="fileInput" multiple="true"/>
<button type="button" id="uploadButton">Upload</button>
<div>
    <span>Status: </span> <strong id="status"></strong>
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript">

    var files = [];

    $(document).ready(function() {

        $('#fileInput').change(function (e) {
            // Add all selected files to 'files' array
            
            $.each(e.target.files, function(i, item) {
                files.push(item);
            });
        });


        $('#uploadButton').click(function () {
            
            // Put files to FormData
            var formData = new FormData();
            $.each(files, function(i, item) {
                formData.append('X-FILE-' + i, item);
            });
            
            // Send FormData to server
            $.ajax({
                url: '/home/upload',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    if (data == "YES") {
                        $('#status').text("File Uploaded");
                    } else {
                        $('#status').text("File NOT Uploaded");
                    }
                }
            });
        });
    });
</script>